[Unit]
Description=Dell Z9100 SSD monitoring poller
DefaultDependencies=no

[Service]
User=root
ExecStart=/usr/local/bin/z9100_ssd_mon.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

